{% extends "base.html" %}
{% block content %}

<div class="row mt-5">
  <div class="col-md-12 text-center">
    <h2>Dobrodošli u IPAM Nadzornu ploču</h2>
    <p class="lead">Pozdrav, {{ user.username }}! Uspješno ste prijavljeni.</p>
    <hr class="my-4">
    <p>Koristite navigaciju ispod za upravljanje vašim IP adresama i uređajima.</p>
    <div class="mt-4">
      <a class="btn btn-primary btn-lg" href="/devices" role="button">Pregled uređaja</a>
      <a class="btn btn-danger btn-lg ms-2" href="/auth/logout" role="button">Odjava</a>
    </div>
  </div>
</div>

{% endblock %}